@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
/*font-family: 'Roboto Slab', serif;
font-family: 'Raleway', sans-serif;*/

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #3CAB51;
}

p, ul{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3  {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

a:hover {
   text-decoration: none;
     font-weight: bold;
}

#container {
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: white;
    color: #3CAB51;
    text-align: center;
}

#logo {
    text-align: left;
    padding: 10px;
    margin-left: 100px;
}

#content {
  padding: 10px;
}

#nav li {
  width: 140px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
}

#nav li {
  display: inline-block;
  margin-right: 0px;
}

#nav a {
  	text-decoration: none;
  	color: #8F9399;
  	display: block;
  	transition: .3s background-color;
}


#nav .selected {
  font-weight: bold;
}
#nav :hover {
   text-decoration: none;
     font-weight: bold;
}

#main {
  width: 800px;
margin-left: 175px;
margin-right: 100px;
padding: 10px;
}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: right;
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*schedule divs*/
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}
